@import url(https://fonts.googleapis.com/css?family=Roboto);

input#passwordTextbox, input#usernameTextbox 
{
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}

input#passwordTextbox:focus, input#usernameTextbox:focus 
{
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.login 
{
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 300px;
  top: 8em;
  width: 298px;
  position: relative;
  bottom: auto;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
}

.login h1 
{
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

#submitButton
{
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #235B6D;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
}

#resetButton
{
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #AF2525;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
}

#submitButton:hover
{
  background-color: #1C4B5B;  
}

#resetButton:hover
{
  background-color: #901F1F;  
}







html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#boxHolder
{
  position: relative;
  display: inline-block;
  margin-left: 32em;
  top: 15em;
}

#box1
{
    width: 180px;
    height: 100px;
    position: relative;
    background-color: red;
    margin-right: 10em;
    float: left;
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}

#box1:HOVER
{
  width: 400px;
  height: 250px;
}

#box2
{
    width: 180px;
    height: 100px;
    position: relative;
    background-color: red;
    margin-right: 10em;
    float: left;
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}

#box2:HOVER
{
  width: 400px;
  height: 250px;
}


#box3
{
    width: 180px;
    height: 100px;
    position: relative;
    background-color: red;
    float: left;
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}

#box3:HOVER
{
  width: 400px;
  height: 250px;
}
